.contact-me-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgb(0 0 0 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.contact-modal {
    background-color: white;
    display: flex;
    padding: 0 !important;
    height: 80%;
}

.left-back {
    background: url('../../assets/imgs/left-back.png');
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: left;
    background-size: cover;
}

.close-button {
    position: absolute;
    left: 80px;
    top: 30px;
    font-size: 20px;
}

.close-button a {
    cursor: pointer;
}

.title-container {
    padding: 0 100px;
}

.modal-title {
    font-size: 64px;
    line-height: 91px;
    letter-spacing: 0.04em;
    color: #FF5C00;
}

.modal-description {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.08em;
    color: #212121;
}

.form-wrap {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../assets/imgs/grid.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 50px;
}

.form-wrap.completed {
    background-image: url('../../assets/imgs/right-back.png');
}

.wizard-state {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    position: absolute;
    left: 0;
    top: 30px;
}

.wizard-state span {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.08em;
    color: #000000;
}

.wizard-state span.active {
    color: #FF5C00;
}

.wizard-state span.decoration-text {
    width: 80%;
    border-bottom: 1px solid #D9D9D9;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.08em;
    color: #585858;
}

.field-title {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #1F1F1F;
}

.field-wrap {
    margin-top: 20px;
}

.field-input {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.08em;
    color: #1F1F1F;
    border: none;
    outline: none;
    border-bottom: 2px solid #1F1F1F;
    width: 100%;
    margin-top: 20px;
}

.field-input.active {
    border-bottom: 3px solid #FF5C00;
}

.step-button-wrap {
    position: absolute;
    bottom: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.align-right {
    justify-content: flex-end;
}

.justy-center {
    justify-content: center;
}

.back-button a {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.08em;
    color: #525151;
    cursor: pointer;
}

.back-button-text {
    margin-left: 15px;
}

.custom-checkbox div {
    padding: 7px !important;
    border-radius: 5px !important;
    background-color: #FF5C00 !important;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 996px) {
    .contact-modal {
        flex-direction: column;
        height: auto;
    }
    .left-back {
        display: none;
    }
    .form-wrap {
        height: 600px;
        width: 100%;
    }
    .step-button-wrap {
        bottom: 30px
    }
}